{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Store</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/foundation.min.js' %}"></script>
    </title>
</head>
<body>

<nav class="top-bar" data-topbar role="navigation" data-option="sticky_on: large">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{% url 'musicStore:index' %}">Home</a></h1>
        </li>
    </ul>

    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">
        <li class="has-dropdown">
            <a href="#">Навигация</a>
            <ul class="dropdown">
                <li><a href="/albums/">Альбомы</a></li>
                <li><a href="#">Альбомы2</a> </li>
            </ul>
        </li>
    </ul>
    <ul class="right">
      <li><a href="/admin/">Админка</a> </li>
      {% if username %}
          <li class="active"><a href="{% url 'auth:logout' %}">Выйти ({{ username }})</a></li>
{#          <li><a href="{% url 'auth:logout' %}">Выйти ({{ username }})</a></li>#}
      {% else %}
          <li class="active"><a href="{% url 'auth:login' %}">Войти</a></li>
      {% endif %}

    </ul>

    <ul>
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff" name="search">
                {% csrf_token %}
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li>
    </ul>

  </section>


{#    <ul class="right">#}
{#        {% if username %}#}
{#             <li><a href="{% url 'auth:logout' %}">Выйти ({{ username }})</a></li>#}
{#        {% else %}#}
{#            <li><a href="{% url 'auth:login' %}">Войти</a> </li>#}
{#         {% endif %}#}
{#    </ul>#}

</nav>
<hr>



<div class="row">
    {% block albumDetails %}{% endblock %}
    {% block artistInformation %}{% endblock %}
    {% block index %}{% endblock %}
    {% block login %}{% endblock %}
    {% block Albums %}{% endblock %}
</div>


</body>
</html>