{% extends 'base.html' %}
{% load staticfiles %}
{% block albumDetails %}



{% if album %}
    <img src="{% static album.image.url %}" height="200" width="250">
    <h4>Название альбома:</h4><p>{{ album.title }}</p>
    <h4>Дата релиза:</h4><p>{{ album.release_date }}</p>
    <h4>Описание:</h4><p>{{ album.describe }}</p>
    <h4>Рейтинг:</h4><p>{{ album.album_rate }}</p>
    <h4>Рейтинг пользователей:</h4>
    <p>{{ album.user_rate }}</p>
    <h1><a href="{% url 'musicStore:addLike' album.id%}" title="Голосовать">+1</a></h1>

{% endif %}

<hr class="large-9">
    {% if album_comments %}
        <div class=" large-offset-1 large-8 columns">
        {% for album_comment in album_comments %}
            <p>{{ album_comment.comment }}</p>
        {% endfor %}
        </div>
    {% endif %}


    {% if username %}
        <div class="large-9 columns">
            <form action="{% url 'musicStore:addComment' album.id %}" method="post">
                {% csrf_token %}
                {{ form  }}
                <input type="submit" class="button expand" VALUE="Коммент">
            </form>
        </div>
    {% endif %}



{% endblock %}

