{% extends 'base.html' %}
{% load staticfiles %}
{% block Albums %}


<div class="row">
{% for album in albums %}
    <a href="{% url 'musicStore:albumDetails' album.id %}"><img src="{% static album.image.url %}" height="100" width="150"> </a>
    <p>{{ album.title }}</p>
    <h6>Рейтинг пользователей:</h6>
    <p>{{ album.user_rate }}</p>
{% endfor %}
</div>

<div class="row">
    <div class="large-offset-5 large-3 columns">
        <ul class="pagination">
            {% if albums.has_previous %}
                <li class="arrow"><a href="{% url 'musicStore:allAlbums' albums.previous_page_number %}/">&laquo;</a> </li>
            {% else %}
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
            {% endif %}

            {% for page in albums.paginator.page_range %}
                {% if page == albums.number %}
                    <li class="current"><a href="{% url 'musicStore:allAlbums' page %}/">{{ page }}</a> </li>
                {% else %}
                    <li><a href="{% url 'musicStore:allAlbums' page %}/">{{ page }}</a> </li>
                {% endif %}
            {% endfor %}

            {% if albums.has_next %}
                <li class="arrow"><a href="{% url 'musicStore:allAlbums' albums.next_page_number %}/">&raquo;</a> </li>
            {% else %}
                <li class="arrow unavailable"><a href="">&raquo;</a> </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}